<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>

    <h2 class="w3-center">Automatic Slideshow</h2>

    <div class="w3-content w3-section" style="max-width:1000px">
        <img class="mySlides" src="assets/images/flat1.png" style="width:100%">
        <img class="mySlides" src="assets/images/villa1.jpg" style="width:100%">
        <img class="mySlides" src="assets/images/flat2.jpg" style="width:100%">
        <img class="mySlides" src="assets/images/villa2.jpg" style="width:100%">
        <button class="w3-button w3-black w3-display-left" (click)="callafunctio(-1)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" (click)="plusDivs(1)">&#10095;</button>
    </div>